<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exercise2.Properties.Settings.SINAR_BAKTIConnectionString"
            connectionString="Data Source=FADLISTEV\FADLI036;Initial Catalog=SINAR_BAKTI;User ID=sa;Password=fad036"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>